@import url(_reset.css);

body {
	background-color: rgb(251, 229, 236);
	color: rgb(88, 88, 88);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	overflow-x: hidden;
}

.container {
	margin: 0 1rem;
}

footer {
	color: rgb(231, 137, 164);
	font-size: 1rem;
	text-align: center;
	font-style: italic;
	padding-top: 1rem;
}